footer.footer
    //- .footer__icon
    //-     i.fab.fa-youtube
    //-     i.fab.fa-facebook
    //-     i.fab.fa-instagram
    span.footer__text Copyright &copy; #{new Date().getFullYear()} 브이레이블 (주) All Rights Reserved

       
  
