$bgColor: #EFEBE5;
$MainBlue: #6A82FB;
$MainPink: #D350E9;
$MainOrange: #EB9581;
$SubBlue: #93A5FC;
$SubPink: #E493F1;
$SubOrange: #F3BFB3;
$SubSubBlue:#CBD3FE;
$SubSubPink: #F0C2F8;
$SubSubOrange: #F7D5CD;